.login-content .inp{
  margin-bottom: 15px;

}

.login-content {
margin-top: 80px;
}
.login-content .inp:first-child {
  margin-bottom: 15px;
}
.login-box {
  height: 650px;
}
.err{
  margin: 0;
  margin-bottom: 8px;
}
.login-content .inp label{
  width: 100px;
  text-align: right;
  display: inline-block;
  margin-top: -11px;
}
.btn button{
  width: 228px;
  height: 66px;
  outline: none;
  border: none;
  cursor: pointer;
}
.logo-titles{
  background: url(../img/register.png) no-repeat;
  width: 167px;
  height: 46px;
  display: inline-block;
  margin-top: -14px;
}
.btn .register-btn{
  background: url(../img/register-btn.png) no-repeat 100% 100%;
  margin-right: 20px;
}
.btn .cancel{
  background: url(../img/cancel.png) no-repeat 100% 100%;
}
.code{
	 text-decoration: underline; 
	font-size: 14px;
  color: #7b2b00;
  position: absolute;
  right: 102px;
  top: 9px; 
}
.obtain {
  text-decoration: underline; 
	font-size: 14px;
  color: #7b2b00;
  position: absolute;
  right: 102px;
  top: 9px;
  display: none;
}

@media screen and (max-width: 1600px) {
  .login-box{
   height: 542px;
  }
  .login-content {
    margin-top: 55px;   
}
.login-content .inp:first-child {
  margin-bottom: 5px;
}
.login-content .inp{
  margin-bottom: 5px;
}
.err{
  margin-bottom: 5px;
}
}
@media screen and (max-width: 1400px) {
  .login-box {
    height: 465px
  }
  .logo-titles {
    margin-top: -5px
  }
  .login-content .inp label {
    font-size: 18px
  }
  .login-content .inp input {
    height: 30px;
  }
  .login-content {
    margin-top: 30px;
  }
  .login-content .inp:first-child {
    margin-bottom: 5px;
  }
  .login-content .inp{
    margin-bottom: 5px;
  }
  .code{
    top: 6px
  }
  .obtain{
    top: 6px
  }
}